.arrive_page {
  align-items: center;

  // 배경 색 임시 지정
  background-color: gray;

  .envelope_container {
    width: 450px;
    max-height: 800px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    .envelope_img {
      display: flex;
      justify-content: center;

      width: 150px;
      height: 105px;
      
      img {
        width: 130px;
        align-self: flex-end;
      }
    }
  }
}
