.arrive_page {
  align-items: center;
  width:  450px;
  max-height: 800px;
  margin-top: 30px;
  overflow-y: auto;

  img {
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
}
