.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  .title {
    margin-top: 40px;

    font-weight: bold;
    font-size: 30px;
  }

  .mail_box {
    background-image: url("../src/Assets/mailbox.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 330px;
    height: 520px;

    margin-top: 40px;
    margin-bottom: 35px;
  }

  .sign_up_title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .kakao_login_button {
    width: 400px;
  }

  /*임시 button css*/
  button {
    margin-top: 20px;
  }
}
