.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  .alarm_container {
    margin: 0;
    margin-left: auto;

    img {
      width: 40px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 30px;
  }

  .mail_box {
    background-image: url("../src/Assets/mailbox.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 330px;
    height: 520px;
    margin-top: 40px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;

    .post_box {
      margin-top: 124px;
      width: 240px;
      height: 245px;

      .envelope_box {
        width: 270px;
        height: 60px;
        margin-bottom: 32px;

        display: flex;
        flex-direction: row;

        .envelope_img {
          width: 36px;
          position: relative;
          margin-right: 15px;

          img {
            width: 100%;
            position: absolute;
          }
        }
      }
    }
  }

  .link_container {
    margin: 0;
    margin-left: auto;
  }

  .write_button {
    margin-top: 18px;

    width: 97px;
    height: 36px;

    font-size: 14px;
    font-weight: bold;

    border: 2px solid rgb(255, 240, 198);
    border-radius: 7px;
    background-color: white;
  }

  .share_button {
    margin-top: 15px;

    width: 400px;
    height: 50px;

    font-size: 20px;
    font-weight: bold;

    border: 2px solid rgb(255, 240, 198);
    border-radius: 7px;
    background-color: white;
  }
}
